<div class="container-fluid">
<div class="row header">
    ThreeJs Samples
</div>
<div class="row content">
    <div class="col"></div>
    <div class="col-xl-5 col-sm-11  col-md-5 col-xs-5 list">
        <h5>Content</h5>
        <ul>
            <li>Getting started</li>
            <li>Creating a scene</li>
            <li routerLink="/line">Draw a line</li>
            <li routerLink="/text">Create Text</li>
            <li routerLink="/threeD">Load 3D model</li>
            <li routerLink="">Update things</li>
        </ul>
    </div>
    <div class="col"></div>
</div>
</div>